Repository securesign/timestamp-authority: changes, and which Tekton pipelines are due for each by the changed paths.
All: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

fetch-tsa-certs-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/fetch-tsa-certs:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.fetch_tsa_certs.rh
  - name: build-source-image
  ...

fetch-tsa-certs-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/fetch-tsa-certs:{{revision}}
  - name: dockerfile
    value: Dockerfile.fetch_tsa_certs.rh
  - name: build-source-image
    value: 'true'
  - name: hermetic
  ...

timestamp-authority-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/timestamp-authority:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.tsa.rh
  - name: build-source-image
  ...

timestamp-authority-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/timestamp-authority:{{revision}}
  - name: dockerfile
    value: Dockerfile.tsa.rh
  - name: build-source-image
    value: 'true'
  - name: hermetic
    value: 'true'
  ...

feat: add ALLOW_CROSS_PLATFORM_IMAGES parameter to fetch-tsa-certs pipeline configurations (#396)
  .tekton/fetch-tsa-certs-cli-stack-pull-request.yaml
  .tekton/fetch-tsa-certs-cli-stack-push.yaml
Due: none

fix: allow Ed25519
  cmd/fetch-tsa-certs/fetch_tsa_certs.go
  pkg/signer/file.go
  pkg/signer/signer.go
  pkg/signer/tink.go
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-push

fix: update build.Mak
  Build.mak
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push

fix: update fetch-tsa-certs image references for cross-platform builds
  Dockerfile.cli-stack.rh
Due: none

feat: move godebug fips140=auto from go.mod to Dockerfile build-time injection
  .github/workflows/codeql_analysis.yaml
  .github/workflows/tests.yaml
  Dockerfile.cli-stack.rh
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
  go.mod
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

chore(deps): bump golang.org/x/ dependencies to latest
  go.mod
  go.sum
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

chore(deps): bump github.com/tink-crypto/tink-go-awskms/v2 to v3 (#1364)
  pkg/signer/tink.go
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-push

fix: downgrade go-openapi/runtime to v0.29.5 to fix nil pointer in tests
  go.mod
  go.sum
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

fix: downgrade go-swagger to v0.33.2 and update go_base_image to Go 1.26
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
  hack/tools/go.mod
  hack/tools/go.sum
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

fix: downgrade go-swagger to v0.33.2, go-openapi/runtime to v0.29.4, add go_base_image for Go 1.26
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

chore(deps): bump all safe dependencies to latest
  go.mod
  go.sum
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

chore(deps): apply remaining minor/patch updates after go-swagger v0.35
  go.mod
  go.sum
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Update fetch-tsa-certs-cli-stack digests from Wave 1 builds
  Dockerfile.cli-stack.rh
Due: none

Update fetch-tsa-certs-cli-stack digests from Wave 1 builds (#418)
  Dockerfile.cli-stack.rh
Due: none

feat: add OpenTelemetry tracing support
  cmd/timestamp-server/app/root.go
  cmd/timestamp-server/app/serve.go
  go.mod
  go.sum
  pkg/generated/restapi/configure_timestamp_server.go
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Update release-version from 1.4.0 to 1.5.0
  .tekton/fetch-tsa-certs-cli-stack-pull-request.yaml
  .tekton/fetch-tsa-certs-cli-stack-push.yaml
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Update release-version from 1.4.0 to 1.5.0 (#420)
  .tekton/fetch-tsa-certs-cli-stack-pull-request.yaml
  .tekton/fetch-tsa-certs-cli-stack-push.yaml
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from 932acc91384 to 5a68031c6c8
  Dockerfile.tsa.rh
Due: timestamp-authority-on-pull-request, timestamp-authority-on-push

Release version updated to 1.4.3
  .tekton/fetch-tsa-certs-cli-stack-pull-request.yaml
  .tekton/fetch-tsa-certs-cli-stack-push.yaml
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Release version updated to 1.4.3 (#421)
  .tekton/fetch-tsa-certs-cli-stack-pull-request.yaml
  .tekton/fetch-tsa-certs-cli-stack-push.yaml
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Update fetch-tsa-certs cli-stack image digests from Wave 1 builds 2026-07-29
  Dockerfile.cli-stack.rh
Due: none

Update fetch-tsa-certs cli-stack image digests from Wave 1 builds 2026-07-29 (#422)
  Dockerfile.cli-stack.rh
Due: none

Update cli-stacks image digests from Wave 1 builds 2026-07-30
  Dockerfile.cli-stack.rh
Due: none

Update cli-stacks image digests from Wave 1 builds 2026-07-30 (#424)
  Dockerfile.cli-stack.rh
Due: none

build: enable hermetic builds for fetch-tsa-certs cli-stack
  .tekton/fetch-tsa-certs-cli-stack-pull-request.yaml
  .tekton/fetch-tsa-certs-cli-stack-push.yaml
Due: none

Update release-version to 1.3.7
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

SECURESIGN-5379: add explicit workflow permissions
  .github/workflows/image_updater.yaml
  .github/workflows/trigger-konflux-build.yaml
Due: none

chore: securesign-5419: pin github actions to their SHAs
  .github/workflows/release.yaml
  .github/workflows/sync-upstream.yaml
Due: none

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from 932acc91384 to 55443bd3d92
  Dockerfile.tsa.rh
Due: timestamp-authority-on-pull-request, timestamp-authority-on-push

SECURESIGN-5503 Upversion golang.org/x/crypto v0.56.0
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

SECURESIGN-5489 Upversion golang.org/x/crypto v0.56.0
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from 932acc91384 to b061cda54b6
  Dockerfile.tsa.rh
Due: timestamp-authority-on-pull-request, timestamp-authority-on-push

SECURESIGN-5503 restore tools module metadata
  hack/tools/go.mod
  hack/tools/go.sum
Due: none

SECURESIGN-5503 update gRPC to v1.83.2
  go.mod
  go.sum
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from 932acc91384 to 9ef28d97f44
  Dockerfile.tsa.rh
Due: timestamp-authority-on-pull-request, timestamp-authority-on-push

Update release-version to 1.3.8
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from 932acc91384 to f5984079c02
  Dockerfile.tsa.rh
Due: timestamp-authority-on-pull-request, timestamp-authority-on-push

Path conditions:
  fetch-tsa-certs-on-pull-request: ((((((any of: .tekton/fetch-tsa-certs-pull-request.yaml) or (any of: cmd/fetch-tsa-certs/***)) or (any of: pkg/***)) or (any of: Build.mak)) or (any of: Dockerfile.fetch_tsa_certs.rh)) or (any of: go.mod)) or (any of: go.sum)
  fetch-tsa-certs-on-push: (((((((any of: .tekton/fetch-tsa-certs-push.yaml) or (any of: cmd/fetch-tsa-certs/***)) or (any of: pkg/***)) or (any of: Build.mak)) or (any of: Dockerfile.fetch_tsa_certs.rh)) or (any of: go.mod)) or (any of: go.sum)) or (any of: trigger-konflux-builds.txt)
  timestamp-authority-on-pull-request: ((((((any of: .tekton/timestamp-authority-pull-request.yaml) or (any of: cmd/timestamp-server)) or (any of: pkg)) or (any of: Makefile)) or (any of: Dockerfile.tsa.rh)) or (any of: go.mod)) or (any of: go.sum)
  timestamp-authority-on-push: (((((((any of: .tekton/timestamp-authority-push.yaml) or (any of: cmd/timestamp-server/***)) or (any of: pkg/***)) or (any of: Makefile)) or (any of: Dockerfile.tsa.rh)) or (any of: go.mod)) or (any of: go.sum)) or (any of: trigger-konflux-builds.txt)
