Repository securesign/timestamp-authority: changes, and which Tekton pipelines are due for each by the changed paths.
All: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

fetch-tsa-certs-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/fetch-tsa-certs:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.fetch_tsa_certs.rh
  - name: build-source-image
  ...

fetch-tsa-certs-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/fetch-tsa-certs:{{revision}}
  - name: dockerfile
    value: Dockerfile.fetch_tsa_certs.rh
  - name: build-source-image
    value: 'true'
  - name: hermetic
  ...

timestamp-authority-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/timestamp-authority:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.tsa.rh
  - name: build-source-image
  ...

timestamp-authority-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/timestamp-authority:{{revision}}
  - name: dockerfile
    value: Dockerfile.tsa.rh
  - name: build-source-image
    value: 'true'
  - name: hermetic
    value: 'true'
  ...

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from f172b3082a3 to aa891eebbca
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from f172b3082a3 to 4fef3a1e533
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from 2a881213950 to df71570f765
  Dockerfile
Due: none

feat(fips): bumping Go to 1.24
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

feat(fips): bumping Go to 1.24 (#225)
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from 6d5a6576c83 to 4fef3a1e533
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from 6fd64cd7f38 to e6f2f2e3194
  Dockerfile
Due: none

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from 67fee1a132e to a8a0ca73331
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from 3ce6311380d to 0d87cff818d
  Dockerfile
Due: none

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from 3ce6311380d to 5afca18c96c
  Dockerfile
Due: none

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from 0d7cfb0704f to 47d9377a741
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from 198ee8c19c6 to 87de6858d24
  Dockerfile
Due: none

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from 295f920819a to fc3534049bc
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from 3f552f246b4 to 87de6858d24
  Dockerfile
Due: none

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from 8d905a93f13 to fc3534049bc
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Updated timestamp file to 2025-08-12,08-41-07.
  trigger-konflux-builds.txt
Due: fetch-tsa-certs-on-push

:robot: Updated timestamp file to 2025-08-13,13-48-13.
  trigger-konflux-builds.txt
Due: fetch-tsa-certs-on-push

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from 87de6858d24 to a4ff191f462
  Dockerfile
Due: none

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from 8d905a93f13 to 3660caede14
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from 81d9cb51feb to bf383be26fe
  Dockerfile
Due: none

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from d1c1f2af612 to 2d018be633d
  Dockerfile
Due: none

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from 2f06ae0e6d3 to 3660caede14
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Updated timestamp file to 2025-09-07,20-01-55.
  trigger-konflux-builds.txt
Due: fetch-tsa-certs-on-push

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from 14c369670cf to 2d018be633d
  Dockerfile
Due: none

:robot: Updated timestamp file to 2025-09-14,21-03-28.
  trigger-konflux-builds.txt
Due: fetch-tsa-certs-on-push

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from 2f06ae0e6d3 to 870a2771409
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Adding Labels
  Dockerfile.tsa.rh
Due: timestamp-authority-on-pull-request, timestamp-authority-on-push

Updating Name
  Dockerfile.tsa.rh
Due: timestamp-authority-on-pull-request, timestamp-authority-on-push

Updating tsa certs
  Dockerfile.fetch_tsa_certs.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push

Removing cpe label
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Tdalton/label update (#248)
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

feat: add configurable max request body size for TSA server (#1176)
  cmd/timestamp-server/app/root.go
  pkg/generated/restapi/configure_timestamp_server.go
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push

:robot: Updated timestamp file to 2025-09-25,12-11-01.
  trigger-konflux-builds.txt
Due: fetch-tsa-certs-on-push

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from 7c5495d5fad to 870a2771409
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from 84286c7555d to 6a73e8f2d24
  Dockerfile
Due: none

:robot: Updated timestamp file to 2025-09-26,09-22-38.
  trigger-konflux-builds.txt
Due: fetch-tsa-certs-on-push

Path conditions:
  fetch-tsa-certs-on-pull-request: ((((((any of: .tekton/fetch-tsa-certs-pull-request.yaml) or (any of: cmd/fetch-tsa-certs/***)) or (any of: pkg/***)) or (any of: Build.mak)) or (any of: Dockerfile.fetch_tsa_certs.rh)) or (any of: go.mod)) or (any of: go.sum)
  fetch-tsa-certs-on-push: (((((((any of: .tekton/fetch-tsa-certs-push.yaml) or (any of: cmd/fetch-tsa-certs/***)) or (any of: pkg/***)) or (any of: Build.mak)) or (any of: Dockerfile.fetch_tsa_certs.rh)) or (any of: go.mod)) or (any of: go.sum)) or (any of: trigger-konflux-builds.txt)
  timestamp-authority-on-pull-request: ((((((any of: .tekton/timestamp-authority-pull-request.yaml) or (any of: cmd/timestamp-server)) or (any of: pkg)) or (any of: Makefile)) or (any of: Dockerfile.tsa.rh)) or (any of: go.mod)) or (any of: go.sum)
  timestamp-authority-on-push: ((((((any of: .tekton/timestamp-authority-push.yaml) or (any of: cmd/timestamp-server)) or (any of: pkg)) or (any of: Makefile)) or (any of: Dockerfile.tsa.rh)) or (any of: go.mod)) or (any of: go.sum)
