Repository securesign/timestamp-authority: changes, and which Tekton pipelines are due for each by the changed paths.
All: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Path conditions:
  fetch-tsa-certs-on-pull-request: ((((((any of: .tekton/fetch-tsa-certs-pull-request.yaml) or (any of: cmd/fetch-tsa-certs/***)) or (any of: pkg/***)) or (any of: Build.mak)) or (any of: Dockerfile.fetch_tsa_certs.rh)) or (any of: go.mod)) or (any of: go.sum)
  fetch-tsa-certs-on-push: (((((((any of: .tekton/fetch-tsa-certs-push.yaml) or (any of: cmd/fetch-tsa-certs/***)) or (any of: pkg/***)) or (any of: Build.mak)) or (any of: Dockerfile.fetch_tsa_certs.rh)) or (any of: go.mod)) or (any of: go.sum)) or (any of: trigger-konflux-builds.txt)
  timestamp-authority-on-pull-request: ((((((any of: .tekton/timestamp-authority-pull-request.yaml) or (any of: cmd/timestamp-server)) or (any of: pkg)) or (any of: Makefile)) or (any of: Dockerfile.tsa.rh)) or (any of: go.mod)) or (any of: go.sum)
  timestamp-authority-on-push: ((((((any of: .tekton/timestamp-authority-push.yaml) or (any of: cmd/timestamp-server)) or (any of: pkg)) or (any of: Makefile)) or (any of: Dockerfile.tsa.rh)) or (any of: go.mod)) or (any of: go.sum)

:robot: Updated timestamp file to 2025-09-26,09-53-01.
  trigger-konflux-builds.txt
Due: fetch-tsa-certs-on-push

:robot: Updated timestamp file to 2025-09-29,08-02-57.
  trigger-konflux-builds.txt
Due: fetch-tsa-certs-on-push

:robot: Updated timestamp file to 2025-09-29,11-40-32.
  trigger-konflux-builds.txt
Due: fetch-tsa-certs-on-push

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from 7c5495d5fad to 870a2771409
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from 84286c7555d to 6a73e8f2d24
  Dockerfile
Due: none

:robot: Updated timestamp file to 2025-10-03,10-29-09.
  trigger-konflux-builds.txt
Due: fetch-tsa-certs-on-push

:robot: Updated timestamp file to 2025-10-21,13-06-24.
  trigger-konflux-builds.txt
Due: fetch-tsa-certs-on-push

Update timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-pull-request.yaml
Due: timestamp-authority-on-pull-request

bump memory in fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-pull-request.yaml
Due: fetch-tsa-certs-on-pull-request

bump memory fetch-tsa-certs-push.yaml
  .tekton/fetch-tsa-certs-push.yaml
Due: fetch-tsa-certs-on-push

bump memory in timestamp-authority-push.yaml
  .tekton/timestamp-authority-push.yaml
Due: timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from 84286c7555d to 98ad09e7cdd
  Dockerfile
Due: none

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from 7c5495d5fad to d1bad2a2790
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

ci: add fips check
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
  Build.mak
  Dockerfile.fetch_tsa_certs.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Updated timestamp file to 2025-11-04,08-35-33.
  trigger-konflux-builds.txt
Due: fetch-tsa-certs-on-push

:robot: Updated timestamp file to 2025-11-12,10-48-45.
  trigger-konflux-builds.txt
Due: fetch-tsa-certs-on-push

Updating test service account
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Updating test service account (#263)
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

chore: bump hashicorp/vault to 1.22
  go.mod
  go.sum
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

chore: bump hashicorp/vault to 1.22 (#264)
  go.mod
  go.sum
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from 84286c7555d to 9fedcb8118a
  Dockerfile
Due: none

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from 7c5495d5fad to 2fe691b4392
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from 7c5495d5fad to 80f3902b6dc
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from 84286c7555d to 5452c7ab684
  Dockerfile
Due: none

(fix): update base images
  Dockerfile.tsa.rh
Due: timestamp-authority-on-pull-request, timestamp-authority-on-push

(fix): update go base image to run unit tests
  .tekton/timestamp-authority-pull-request.yaml
Due: timestamp-authority-on-pull-request

(fix): update go base image to run unit tests on all stages
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-push

(fix): update base images
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

(deps): update go version
  go.mod
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Revert "(deps): update go version"
  go.mod
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Red Hat Konflux purge fetch-tsa-certs
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push

Red Hat Konflux update fetch-tsa-certs
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push

Red Hat Konflux update fetch-tsa-certs-v1-3
  .tekton/fetch-tsa-certs-v1-3-pull-request.yaml
  .tekton/fetch-tsa-certs-v1-3-push.yaml
Due: none

Red Hat Konflux update fetch-tsa-certs-v1-2
  .tekton/fetch-tsa-certs-v1-2-pull-request.yaml
  .tekton/fetch-tsa-certs-v1-2-push.yaml
Due: none
