Repository securesign/timestamp-authority: changes, and which Tekton pipelines are due for each by the changed paths.
All: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

fetch-tsa-certs-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/fetch-tsa-certs:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.fetch_tsa_certs.rh
  - name: build-source-image
  ...

fetch-tsa-certs-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/fetch-tsa-certs:{{revision}}
  - name: dockerfile
    value: Dockerfile.fetch_tsa_certs.rh
  - name: build-source-image
    value: 'true'
  - name: hermetic
  ...

timestamp-authority-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/timestamp-authority:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.tsa.rh
  - name: build-source-image
  ...

timestamp-authority-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/timestamp-authority:{{revision}}
  - name: dockerfile
    value: Dockerfile.tsa.rh
  - name: build-source-image
    value: 'true'
  - name: hermetic
    value: 'true'
  ...

Components versions updated in tekton pipelines for 1.3
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Components versions updated in tekton pipelines for 1.2
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Merge commit from fork (#1236)
  pkg/api/error.go
  pkg/api/timestamp.go
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push

serviceAccountName updated to correspond with current structure
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from 6fc28bcb677 to 80f3902b6dc
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from a904b7fdbf0 to a532ce56e98
  Dockerfile
Due: none

Components versions updated in tekton pipelines for main
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Updating Service accounts for fetch-tsa-certs.yaml
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push

Red Hat Konflux purge timestamp-authority
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: timestamp-authority-on-pull-request, timestamp-authority-on-push

Red Hat Konflux update timestamp-authority
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: timestamp-authority-on-pull-request, timestamp-authority-on-push

Red Hat Konflux update timestamp-authority-v1-2
  .tekton/timestamp-authority-v1-2-pull-request.yaml
  .tekton/timestamp-authority-v1-2-push.yaml
Due: none

Red Hat Konflux update timestamp-authority-v1-3
  .tekton/timestamp-authority-v1-3-pull-request.yaml
  .tekton/timestamp-authority-v1-3-push.yaml
Due: none

Triggering Konflux Builds
  trigger-konflux-builds.txt
Due: fetch-tsa-certs-on-push

chore: add release-version param
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

chore: add release-version param (#287)
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

chore: add release-version param (#288)
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

chore: add release-version param (#289)
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

chore: update builder images
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

chore: update builder images (#293)
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

chore: update builder images
  Dockerfile.tsa.rh
Due: timestamp-authority-on-pull-request, timestamp-authority-on-push

chore: update builder images (#294)
  Dockerfile.tsa.rh
Due: timestamp-authority-on-pull-request, timestamp-authority-on-push

chore: update builder images (#295)
  Dockerfile.tsa.rh
Due: timestamp-authority-on-pull-request, timestamp-authority-on-push

fix: update name of dependency to match updated version
  hack/tools/go.mod
Due: none

Adding product-version param for CPE label
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Updating timestamp to trigger rebuild
  trigger-konflux-builds.txt
Due: fetch-tsa-certs-on-push

Updating timestamp to trigger rebuild (#303)
  trigger-konflux-builds.txt
Due: fetch-tsa-certs-on-push

Renaming Dario Cat
  hack/tools/go.mod
  hack/tools/go.sum
Due: none

Triggering 1.2 build and enabling tests
  .github/workflows/codeql_analysis.yaml
  .github/workflows/scorecard.yaml
  .github/workflows/tests.yaml
  trigger-konflux-builds.txt
Due: fetch-tsa-certs-on-push

Triggering 1.2 build and enabling tests (#304)
  .github/workflows/codeql_analysis.yaml
  .github/workflows/scorecard.yaml
  .github/workflows/tests.yaml
  trigger-konflux-builds.txt
Due: fetch-tsa-certs-on-push

:robot: Updated timestamp file to 2026-02-04,13-38-51.
  trigger-konflux-builds.txt
Due: fetch-tsa-certs-on-push

update swagger and sprig
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/generated/client/timestamp/get_timestamp_cert_chain_responses.go
  pkg/generated/client/timestamp/get_timestamp_response_responses.go
  pkg/generated/client/timestamp/timestamp_client.go
  pkg/generated/restapi/operations/timestamp/get_timestamp_cert_chain.go
  pkg/generated/restapi/operations/timestamp/get_timestamp_cert_chain_parameters.go
  pkg/generated/restapi/operations/timestamp/get_timestamp_cert_chain_responses.go
  pkg/generated/restapi/operations/timestamp/get_timestamp_response.go
  pkg/generated/restapi/operations/timestamp/get_timestamp_response_parameters.go
  pkg/generated/restapi/operations/timestamp/get_timestamp_response_responses.go
  pkg/generated/restapi/operations/timestamp_server_api.go
  pkg/generated/restapi/server.go
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from 3f4236f0a42 to dc1f887fd22
  Dockerfile
Due: none

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from bb08f2300cb to 42c0bdc0534
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Path conditions:
  fetch-tsa-certs-on-pull-request: ((((((any of: .tekton/fetch-tsa-certs-pull-request.yaml) or (any of: cmd/fetch-tsa-certs/***)) or (any of: pkg/***)) or (any of: Build.mak)) or (any of: Dockerfile.fetch_tsa_certs.rh)) or (any of: go.mod)) or (any of: go.sum)
  fetch-tsa-certs-on-push: (((((((any of: .tekton/fetch-tsa-certs-push.yaml) or (any of: cmd/fetch-tsa-certs/***)) or (any of: pkg/***)) or (any of: Build.mak)) or (any of: Dockerfile.fetch_tsa_certs.rh)) or (any of: go.mod)) or (any of: go.sum)) or (any of: trigger-konflux-builds.txt)
  timestamp-authority-on-pull-request: ((((((any of: .tekton/timestamp-authority-pull-request.yaml) or (any of: cmd/timestamp-server)) or (any of: pkg)) or (any of: Makefile)) or (any of: Dockerfile.tsa.rh)) or (any of: go.mod)) or (any of: go.sum)
  timestamp-authority-on-push: ((((((any of: .tekton/timestamp-authority-push.yaml) or (any of: cmd/timestamp-server)) or (any of: pkg)) or (any of: Makefile)) or (any of: Dockerfile.tsa.rh)) or (any of: go.mod)) or (any of: go.sum)
