Repository securesign/timestamp-authority: changes, and which Tekton pipelines are due for each by the changed paths.
All: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

fetch-tsa-certs-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/fetch-tsa-certs:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.fetch_tsa_certs.rh
  - name: build-source-image
  ...

fetch-tsa-certs-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/fetch-tsa-certs:{{revision}}
  - name: dockerfile
    value: Dockerfile.fetch_tsa_certs.rh
  - name: build-source-image
    value: 'true'
  - name: hermetic
  ...

timestamp-authority-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/timestamp-authority:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.tsa.rh
  - name: build-source-image
  ...

timestamp-authority-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/timestamp-authority:{{revision}}
  - name: dockerfile
    value: Dockerfile.tsa.rh
  - name: build-source-image
    value: 'true'
  - name: hermetic
    value: 'true'
  ...

run go mod tidy
  go.mod
  go.sum
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from d5f8518b974 to a4e9d74c8d1
  Dockerfile
Due: none

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from a4e9d74c8d1 to 293b288e45f
  Dockerfile
Due: none

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from 293b288e45f to 0fb743b47cb
  Dockerfile
Due: none

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from 0fb743b47cb to fd2e89bb5f1
  Dockerfile
Due: none

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from fd2e89bb5f1 to f19ff01afb7
  Dockerfile
Due: none

rebase fix
  go.sum
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Adding renovate.json to group pr's
  renovate.json
Due: none

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from f19ff01afb7 to f80d3112ca9
  Dockerfile
Due: none

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from 4c8830d3497 to e7da3c032ae
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Konflux build pipeline service account migration for fetch-tsa-certs Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push

Konflux build pipeline service account migration for timestamp-authority Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from f19ff01afb7 to ad0ad037a1e
  Dockerfile
Due: none

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from 4c8830d3497 to aca8052836f
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Updating packages to 1.23.6
  go.mod
  go.sum
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Updating Hack Tools
  hack/tools/go.mod
  hack/tools/go.sum
Due: none

Updating Konflux Unit Tests
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from f19ff01afb7 to ead9a9f6eb3
  Dockerfile
Due: none

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from e0ad156b08e to ead9a9f6eb3
  Dockerfile
Due: none

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from 92b1d5747a9 to aca8052836f
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from 92b1d5747a9 to 9bed5331870
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from e0ad156b08e to f4cd09b55c3
  Dockerfile
Due: none

:robot: Updated timestamp file to 2025-06-18,10-08-54.
  trigger-konflux-builds.txt
Due: none

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from f172b3082a3 to 9bed5331870
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from 2a881213950 to f4cd09b55c3
  Dockerfile
Due: none

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from 2a881213950 to 3ae6ea064c3
  Dockerfile
Due: none

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from f172b3082a3 to fd6b8759fe2
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from 2a881213950 to 8e7cfaace4a
  Dockerfile
Due: none

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from f172b3082a3 to 37327dcab97
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Updated timestamp file to 2025-07-10,10-51-17.
  trigger-konflux-builds.txt
Due: none

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from 2a881213950 to df71570f765
  Dockerfile
Due: none

Path conditions:
  fetch-tsa-certs-on-pull-request: ((((((any of: .tekton/fetch-tsa-certs-pull-request.yaml) or (any of: cmd/fetch-tsa-certs/***)) or (any of: pkg/***)) or (any of: Build.mak)) or (any of: Dockerfile.fetch_tsa_certs.rh)) or (any of: go.mod)) or (any of: go.sum)
  fetch-tsa-certs-on-push: ((((((any of: .tekton/fetch-tsa-certs-push.yaml) or (any of: cmd/fetch-tsa-certs)) or (any of: pkg)) or (any of: Build.mak)) or (any of: Dockerfile.fetch_tsa_certs.rh)) or (any of: go.mod)) or (any of: go.sum)
  timestamp-authority-on-pull-request: ((((((any of: .tekton/timestamp-authority-pull-request.yaml) or (any of: cmd/timestamp-server)) or (any of: pkg)) or (any of: Makefile)) or (any of: Dockerfile.tsa.rh)) or (any of: go.mod)) or (any of: go.sum)
  timestamp-authority-on-push: ((((((any of: .tekton/timestamp-authority-push.yaml) or (any of: cmd/timestamp-server)) or (any of: pkg)) or (any of: Makefile)) or (any of: Dockerfile.tsa.rh)) or (any of: go.mod)) or (any of: go.sum)
