Repository securesign/timestamp-authority: changes, and which Tekton pipelines are due for each by the changed paths.
All: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

fetch-tsa-certs-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/fetch-tsa-certs:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.fetch_tsa_certs.rh
  - name: build-source-image
  ...

fetch-tsa-certs-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/fetch-tsa-certs:{{revision}}
  - name: dockerfile
    value: Dockerfile.fetch_tsa_certs.rh
  - name: build-source-image
    value: 'true'
  - name: hermetic
  ...

timestamp-authority-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/timestamp-authority:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.tsa.rh
  - name: build-source-image
  ...

timestamp-authority-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/timestamp-authority:{{revision}}
  - name: dockerfile
    value: Dockerfile.tsa.rh
  - name: build-source-image
    value: 'true'
  - name: hermetic
    value: 'true'
  ...

chore: upgrade lint version
  .github/workflows/tests.yaml
Due: none

downgrade go version
  go.mod
  go.sum
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

chore: update base images
  Dockerfile
  Dockerfile.cli-stack.rh
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

chore: update test base images
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

ci: lint issue fix
  pkg/generated/restapi/configure_timestamp_server.go
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-push

Red Hat Konflux update fetch-tsa-certs-cli-stack-v1-4
  .tekton/fetch-tsa-certs-cli-stack-v1-4-pull-request.yaml
  .tekton/fetch-tsa-certs-cli-stack-v1-4-push.yaml
Due: none

Red Hat Konflux update fetch-tsa-certs-v1-4
  .tekton/fetch-tsa-certs-v1-4-pull-request.yaml
  .tekton/fetch-tsa-certs-v1-4-push.yaml
Due: none

Red Hat Konflux update timestamp-authority-v1-4
  .tekton/timestamp-authority-v1-4-pull-request.yaml
  .tekton/timestamp-authority-v1-4-push.yaml
Due: none

Updating Tekton pipeline names to v1-4
  .tekton/fetch-tsa-certs-cli-stack-pull-request.yaml
  .tekton/fetch-tsa-certs-cli-stack-push.yaml
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

add Qodo configuration
  .pr_agent.toml
Due: none

Add sync-upstream workflow
  .github/workflows/sync-upstream.yaml
Due: none

build: rework cli-stack, move cross-compilation out of component image
  Build.mak
  Dockerfile.cli-stack.rh
  Dockerfile.fetch_tsa_certs.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push

feat: enable native go FIPS
  .github/workflows/codeql_analysis.yaml
  .github/workflows/tests.yaml
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
  Build.mak
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
  go.mod
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

feat: create fips safe build
  cmd/fetch-tsa-certs/fetch_tsa_certs.go
  pkg/signer/file.go
  pkg/signer/signer.go
  pkg/signer/tink.go
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from f5346fbb587 to 2a7e516b217
  Dockerfile.tsa.rh
Due: timestamp-authority-on-pull-request, timestamp-authority-on-push

fix: cve-2026-39829, upgrade golang.org/x/crypto
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

fix: cve-2026-39829, upgrade golang.org/x/crypto
  go.mod
  go.sum
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

fix: cve-2026-39829, upgrade golang.org/x/crypto (#376)
  go.mod
  go.sum
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

fix: cve-2026-39829, upgrade golang.org/x/crypto (#377)
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

fix: use multi-arch manifest digest for go-toolset in Dockerfile.tsa.rh
  Dockerfile.tsa.rh
Due: timestamp-authority-on-pull-request, timestamp-authority-on-push

build: add prefetch-input for gomod in cli-stack push pipeline
  .tekton/fetch-tsa-certs-cli-stack-push.yaml
Due: none

feat: FIPS 140-3 compliance fixes for SHA-1 SKID and EqualKeys
  cmd/fetch-tsa-certs/fetch_tsa_certs.go
  pkg/signer/memory.go
  pkg/x509/x509.go
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-push

Update release-version to 1.4.2
  .tekton/fetch-tsa-certs-cli-stack-pull-request.yaml
  .tekton/fetch-tsa-certs-cli-stack-push.yaml
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Update release-version to 1.4.2 (#381)
  .tekton/fetch-tsa-certs-cli-stack-pull-request.yaml
  .tekton/fetch-tsa-certs-cli-stack-push.yaml
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Add ALLOW_CROSS_PLATFORM_IMAGES parameter to cli-stack pipelines
  .tekton/fetch-tsa-certs-cli-stack-pull-request.yaml
  .tekton/fetch-tsa-certs-cli-stack-push.yaml
Due: none

Add ALLOW_CROSS_PLATFORM_IMAGES parameter to cli-stack pipelines (#384)
  .tekton/fetch-tsa-certs-cli-stack-pull-request.yaml
  .tekton/fetch-tsa-certs-cli-stack-push.yaml
Due: none

Update cli-stack with platform-specific digests
  Dockerfile.cli-stack.rh
Due: none

Update cli-stack with platform-specific digests (#386)
  Dockerfile.cli-stack.rh
Due: none

Update release-version to 1.3.6 in Tekton pipelines
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Update release-version to 1.3.6 in Tekton pipelines (#388)
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

feat: invert cli-stack build flow using pipeline wait mechanism
  .tekton/fetch-tsa-certs-cli-stack-pull-request.yaml
  .tekton/fetch-tsa-certs-cli-stack-push.yaml
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  Build.mak
  Dockerfile.cli-stack.rh
  Dockerfile.fetch_tsa_certs.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push

fix: install tar in ubi-minimal for cli-stack binary extraction
  Dockerfile.fetch_tsa_certs.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push

fix: use go-toolset extractor stage instead of installing tar in ubi-minimal
  Dockerfile.fetch_tsa_certs.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push

fix: allow cross-platform images for cli-stack extraction on non-amd64 builders
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push

fix: run extractor stage as root to remove read-only binaries
  Dockerfile.fetch_tsa_certs.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push

fix: rename CLI_STACK_IMAGE to CLI_STACK_REF to avoid EC IMAGE_ pattern matching
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  Dockerfile.fetch_tsa_certs.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push

fix: use default IMG build arg name matching operator-bundle pattern
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  Dockerfile.fetch_tsa_certs.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push

feat: add ALLOW_CROSS_PLATFORM_IMAGES parameter to fetch-tsa-certs pipeline configurations
  .tekton/fetch-tsa-certs-cli-stack-pull-request.yaml
  .tekton/fetch-tsa-certs-cli-stack-push.yaml
Due: none

Path conditions:
  fetch-tsa-certs-on-pull-request: ((((((any of: .tekton/fetch-tsa-certs-pull-request.yaml) or (any of: cmd/fetch-tsa-certs/***)) or (any of: pkg/***)) or (any of: Build.mak)) or (any of: Dockerfile.fetch_tsa_certs.rh)) or (any of: go.mod)) or (any of: go.sum)
  fetch-tsa-certs-on-push: (((((((any of: .tekton/fetch-tsa-certs-push.yaml) or (any of: cmd/fetch-tsa-certs/***)) or (any of: pkg/***)) or (any of: Build.mak)) or (any of: Dockerfile.fetch_tsa_certs.rh)) or (any of: go.mod)) or (any of: go.sum)) or (any of: trigger-konflux-builds.txt)
  timestamp-authority-on-pull-request: ((((((any of: .tekton/timestamp-authority-pull-request.yaml) or (any of: cmd/timestamp-server)) or (any of: pkg)) or (any of: Makefile)) or (any of: Dockerfile.tsa.rh)) or (any of: go.mod)) or (any of: go.sum)
  timestamp-authority-on-push: (((((((any of: .tekton/timestamp-authority-push.yaml) or (any of: cmd/timestamp-server/***)) or (any of: pkg/***)) or (any of: Makefile)) or (any of: Dockerfile.tsa.rh)) or (any of: go.mod)) or (any of: go.sum)) or (any of: trigger-konflux-builds.txt)
