Repository securesign/timestamp-authority: changes, and which Tekton pipelines are due for each by the changed paths.
All: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Path conditions:
  fetch-tsa-certs-on-pull-request: ((((((any of: .tekton/fetch-tsa-certs-pull-request.yaml) or (any of: cmd/fetch-tsa-certs/***)) or (any of: pkg/***)) or (any of: Build.mak)) or (any of: Dockerfile.fetch_tsa_certs.rh)) or (any of: go.mod)) or (any of: go.sum)
  fetch-tsa-certs-on-push: (((((((any of: .tekton/fetch-tsa-certs-push.yaml) or (any of: cmd/fetch-tsa-certs/***)) or (any of: pkg/***)) or (any of: Build.mak)) or (any of: Dockerfile.fetch_tsa_certs.rh)) or (any of: go.mod)) or (any of: go.sum)) or (any of: trigger-konflux-builds.txt)
  timestamp-authority-on-pull-request: ((((((any of: .tekton/timestamp-authority-pull-request.yaml) or (any of: cmd/timestamp-server)) or (any of: pkg)) or (any of: Makefile)) or (any of: Dockerfile.tsa.rh)) or (any of: go.mod)) or (any of: go.sum)
  timestamp-authority-on-push: (((((((any of: .tekton/timestamp-authority-push.yaml) or (any of: cmd/timestamp-server/***)) or (any of: pkg/***)) or (any of: Makefile)) or (any of: Dockerfile.tsa.rh)) or (any of: go.mod)) or (any of: go.sum)) or (any of: trigger-konflux-builds.txt)

Update timestamp-authority-push.yaml
  .tekton/timestamp-authority-push.yaml
Due: timestamp-authority-on-push

Update fetch-tsa-certs-push.yaml
  .tekton/fetch-tsa-certs-push.yaml
Due: fetch-tsa-certs-on-push

Updating Dockerfile labels
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Updating Dockerfile labels (#313)
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Updating Tsa Application
  .tekton/timestamp-authority-push.yaml
Due: timestamp-authority-on-push

Tdalton/1.2 dockerlabels updates (#314)
  .tekton/timestamp-authority-push.yaml
Due: timestamp-authority-on-push

Updated images & release versions
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
  Dockerfile
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

fix
  Dockerfile
Due: none

Updated images
  Dockerfile
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

fix
  Dockerfile.fetch_tsa_certs.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push

[CVE Surface Reduction] Image Updates Main (#315)
  Dockerfile
  Dockerfile.fetch_tsa_certs.rh
  Dockerfile.tsa.rh
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

:robot: Updated timestamp file to 2026-03-05,09-38-05.
  trigger-konflux-builds.txt
Due: fetch-tsa-certs-on-push, timestamp-authority-on-push

:robot: Update registry.access.redhat.com/ubi9-minimal image ref in Dockerfiles from 2bd144364d2 to f5346fbb587
  Dockerfile.tsa.rh
Due: timestamp-authority-on-pull-request, timestamp-authority-on-push

add cli-stack aggregator
  .tekton/fetch-tsa-certs-cli-stack-pull-request.yaml
  .tekton/fetch-tsa-certs-cli-stack-push.yaml
  .tekton/fetch-tsa-certs-push.yaml
  Dockerfile.cli-stack.rh
Due: fetch-tsa-certs-on-push

Attempting Generated Code fix
  pkg/generated/client/timestamp/get_timestamp_cert_chain_parameters.go
  pkg/generated/client/timestamp/get_timestamp_cert_chain_responses.go
  pkg/generated/client/timestamp/get_timestamp_response_parameters.go
  pkg/generated/client/timestamp/get_timestamp_response_responses.go
  pkg/generated/client/timestamp/timestamp_client.go
  pkg/generated/client/timestamp_authority_client.go
  pkg/generated/models/error.go
  pkg/generated/restapi/embedded_spec.go
  pkg/generated/restapi/operations/timestamp/get_timestamp_cert_chain.go
  pkg/generated/restapi/operations/timestamp/get_timestamp_cert_chain_parameters.go
  pkg/generated/restapi/operations/timestamp/get_timestamp_cert_chain_responses.go
  pkg/generated/restapi/operations/timestamp/get_timestamp_cert_chain_urlbuilder.go
  pkg/generated/restapi/operations/timestamp/get_timestamp_response.go
  pkg/generated/restapi/operations/timestamp/get_timestamp_response_parameters.go
  pkg/generated/restapi/operations/timestamp/get_timestamp_response_responses.go
  pkg/generated/restapi/operations/timestamp/get_timestamp_response_urlbuilder.go
  pkg/generated/restapi/operations/timestamp_server_api.go
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-push

Updating test image
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Updated grpc to 1.79.3
  go.mod
  go.sum
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Updated grpc to 1.79.3 (#327)
  go.mod
  go.sum
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Updating Generated Files
  pkg/generated/client/timestamp/get_timestamp_cert_chain_parameters.go
  pkg/generated/client/timestamp/get_timestamp_cert_chain_responses.go
  pkg/generated/client/timestamp/get_timestamp_response_parameters.go
  pkg/generated/client/timestamp/get_timestamp_response_responses.go
  pkg/generated/client/timestamp/timestamp_client.go
  pkg/generated/client/timestamp_authority_client.go
  pkg/generated/models/error.go
  pkg/generated/restapi/embedded_spec.go
  pkg/generated/restapi/operations/timestamp/get_timestamp_cert_chain.go
  pkg/generated/restapi/operations/timestamp/get_timestamp_cert_chain_parameters.go
  pkg/generated/restapi/operations/timestamp/get_timestamp_cert_chain_responses.go
  pkg/generated/restapi/operations/timestamp/get_timestamp_cert_chain_urlbuilder.go
  pkg/generated/restapi/operations/timestamp/get_timestamp_response.go
  pkg/generated/restapi/operations/timestamp/get_timestamp_response_parameters.go
  pkg/generated/restapi/operations/timestamp/get_timestamp_response_responses.go
  pkg/generated/restapi/operations/timestamp/get_timestamp_response_urlbuilder.go
  pkg/generated/restapi/operations/timestamp_server_api.go
  pkg/generated/restapi/server.go
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-push

Updating Dockerfile Image
  Dockerfile
Due: none

Updating Tekton Files
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Updating Actions
  .github/workflows/build-snapshot.yaml
  .github/workflows/codeql_analysis.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
Due: none

Update Dockerfile
  Dockerfile
Due: none

Updating golang lint ci
  .github/workflows/tests.yaml
Due: none

Updating Version of test
  .github/workflows/tests.yaml
Due: none

Updating Lint
  .github/workflows/tests.yaml
Due: none

Linter suppress
  pkg/generated/restapi/configure_timestamp_server.go
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-push

Updating Validate Pubkey
  pkg/x509/x509.go
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-push

Updating Go mod
  go.mod
  go.sum
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Update Tekton pipelines for release-1.4 branch
  .tekton/fetch-tsa-certs-cli-stack-pull-request.yaml
  .tekton/fetch-tsa-certs-cli-stack-push.yaml
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Update release version to 1.4.1
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Red Hat Konflux update timestamp-authority-v1-3
  .tekton/timestamp-authority-v1-3-pull-request.yaml
  .tekton/timestamp-authority-v1-3-push.yaml
Due: none

Config issue in tekont
  .tekton/timestamp-authority-push.yaml
Due: timestamp-authority-on-push

Update release-version to 1.3.5
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push

Update release-version to 1.4.1
  .tekton/fetch-tsa-certs-cli-stack-pull-request.yaml
  .tekton/fetch-tsa-certs-cli-stack-push.yaml
Due: none

Update release-version to 1.4.1 (#345)
  .tekton/fetch-tsa-certs-cli-stack-pull-request.yaml
  .tekton/fetch-tsa-certs-cli-stack-push.yaml
Due: none

Update release-version to 1.3.5 (#344)
  .tekton/fetch-tsa-certs-pull-request.yaml
  .tekton/fetch-tsa-certs-push.yaml
  .tekton/timestamp-authority-pull-request.yaml
  .tekton/timestamp-authority-push.yaml
Due: fetch-tsa-certs-on-pull-request, fetch-tsa-certs-on-push, timestamp-authority-on-pull-request, timestamp-authority-on-push
